@{
    ViewBag.Title = "About";
    Layout = "View.cshtml";
}

<h3>@ViewBag.Message</h3>

<p>
    Online Exam Portal

    Online Examination System is a technology-driven way to simplify examination activities like defining exam patterns with question banks, defining exam timer, objective/ subjective question sections, conducting exams using the computer or mobile devices in a paperless manner.

    Online Examination System is a cost-effective, scalable way to convert traditional pen and paper-based exams to online and paperless mode.

    Candidates can appear for the exam using any desktop, laptop, or mobile device with a browser. Exam results can be generated instantly for the objective type of questions.

    We at Spayee, are help educators reach out to masses with affordable and scalable technology.

    We offer a white-labeled course distribution platform to create, market & sell your online courses and digital products.  From solo edupreneurs to massive educational institutes, our platform is used by top educators, youtubers & influencers.

    If you are looking for a comprehensive course platform where you can launch and nurture your online courses, Spayee would be the one for you.

    Build your online course platform within minutes.

    Sign up now!

</p>