@{
    ViewBag.Title = "Contact";
    Layout = "View.cshtml";
}

<h3>@ViewBag.Message</h3>

<address>
    Online Test Management Company<br />
    Chennai, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>