
@{
    ViewBag.Title = "Index";
    Layout = "View1.cshtml";
}

 <h2><b>Welcome To Online Exam Portal</b></h2>
<img src="~/Image/student-passing-online-exam-home-closeup-178208932.jpg" width="100%"  />
<p>
Every organization is different. That's why we've created affordable Online Testing Plans to suit all requirements.
From occasional usage to Enterprise Quiz Maker requirements,ClassMarker is your Secure & reliable exam maker & online testing solution

   </p>