
@{
    ViewBag.Title = "PythonInstruction";
    Layout = "View.cshtml";
}

<h2>ADO Test Instruction</h2>
This ADO.Net Online Test simulates a real online certification exams. You will be presented Multiple Choice Questions (MCQs) based on Python Concepts, where you will be given four options. You will select the best suitable answer for the question and then proceed to the next question without wasting given time. You will get your online test score after finishing the complete test.

Total Questions − 10
Total Marks -50
<br />
<br />

<button id="btn1" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ADOTest","AllTest")'">Start Test</button><br /><br />


